body{
    background-image: url(assets/background.jpg);
    padding: 175px 245px ;
    
}
.fundo-card{
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 350px;
    background-color: #ffffff;
    padding: 45px 0px;
    border-radius: 15px;
}


img{
    border-radius: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0px 130px;

}
h1{
    font-family: 'Kumbh Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #2E3349;
display:inline-block;
margin-bottom: 9px;
}
span{
    font-family: 'Kumbh Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #6B7082;
margin-left: 8px;
}
h2{
    font-family: 'Kumbh Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #6B7082;
margin-bottom: 50px;
}
.rodape{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3px;
}
.linha{
    background-color: #6B7082;
    height: 1px;
}
.follower p .like p .photo p{
    font-family: 'Kumbh Sans', sans-serif;
font-style: bold;
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #2E3349;
}
.follower span .like span .photo span{
    font-family: 'Kumbh Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #6B7082;
}